<div id="tasks_wall" class="span12"></div>
<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new Miamir.Routers.PlanningRouter({ready_tasks: <%= @ready_tasks.to_json.html_safe -%>,backlog_tasks: <%= @backlog_tasks.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>