<div class="row-fluid">
  <div id="members" class="span12 well">
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <input id="member_email" type="text" placeholder="Add a member">
    <a id="add_member" href="#" class="btn" style="margin-bottom:10px"><i class="icon-plus"></i> Add</a>
  </div>
</div>
