<%- model_class = Task -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human %></h1>
</div>
<%= render :partial => 'form' %>

<script type="text/javascript">
  $(function() {
    /* Priority Slider */
    $("#prioritySlider").slider({
      range: "min",
      value: 5,
      min: 5,
      max: 100,
      step: 5,
      slide: function(event, ui) {
        $("#priorityAmount").text(ui.value);
        $("#task_priority").val(ui.value);
      }
    });

    $("#priorityAmount").text($("#prioritySlider").slider("value"));

    new Miamir.Views.Teams.SelectorView()
  });
</script>
