<form class="form-inline editableform" style="width:500px;">
    <div class="control-group">
        <div>
          <div class="editable-input row-fluid" style="display:block;margin-bottom:0.4em"></div>
          <div class="editable-buttons row-fluid"></div>
        </div>
        <div class="editable-error-block"></div>
    </div> 
</form>