<dl>
  <dt><%=title%></dt>
  <dd><%=description%></dd>
</dl>
<div class="input-append">
    <input id="estimate" type="text" class="span1 input-small" placeholder="estimate" value="<%=estimate%>"/>
    <span class="add-on">Hours</span>
</div>