<div class="page-header">
  <h1>Listing tasks</h1>
</div>
<table id="tasks-table" class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new" class="btn btn-primary">New Task</a>