<dl>
  <dt id="task-title" data-toggle="manual" data-type="textarea"><%= title %></dt>
  <dd id="task-description" data-toggle="manual" data-type="textarea"><%= description %></dd>
</dl>
<div id="durations"></div>

