<a id="card">
  <h5 class="title"><%=title%></h5>
  <div class="badges">
    <div class="badge badge-info"> 
      <span><%=estimate%>H</span>  
    </div>
    <div class="badge badge-info"> 
      <span>$<%=scale%></span>  
    </div>
  </div>
</a>