<a id="card">
  <h5 class="title"><%=title%></h5>
  <div class="labels">
    <div id="scale" class="label"> 
      <span>$<%=scale%></span>  
    </div>
    <div class="label label-info"> 
      <span><%=estimate%>H</span>  
    </div>
  </div>
</a>